<!doctype html>
<html>
    <head>
		<meta charset="UTF-8">
        <meta name="robots" content="noindex,nofollow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <meta name="description" content="An App for ITC230" />
		
        <link href='https://fonts.googleapis.com/css?family=Unkempt:400,700|Averia+Sans+Libre:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700' rel='stylesheet' type='text/css'>
		
        <link rel="stylesheet" href="style.css">
		
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        

        <title>Test ITC230</title>
    </head>
	
	<body>
		
		<header class="main-header">
		<h1>Band Finder</h1>
			<nav class="main-nav">
				<ul>
					<li><a href="/about">About</a></li>
					<li><a href="/">Home</a></li>
				</ul>
			</nav>
		</header>
	
		{{{body}}}
	
		<br>
		<footer>
			<small>&copy; 2015, All Rights Reserved ~ Authored by Sean Gilliland</small>
		</footer>
		
	</body>
</html>